@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
:root,
input,
select,
button {
  font-family: Lora, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: #242424;
}

body {
  margin: 0;
  padding: 0;
  border: none;
}
html{
  height:100%;
}
select{
  display: flex;
  justify-content: center;
  align-items: center;
}
body,
.main-page,
#app,
.route,
section{
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  overflow: auto;
  scrollbar-width: none;  
  -ms-overflow-style: none; 
  body::-webkit-scrollbar, body::-webkit-scrollbar-button { display: none; } 



}
.main-content{
  background-color: #f8f8f8;
  width: 90%;
  height: 90%;
  padding: 0.75em;
  margin: 0.5em;
  border-radius: 1em;
  display: flex;
  gap: 0.5em;
}
.page-header{
  display: block;
  font-size: 2.5em;
  padding: 0;
  margin: 0.45em;

}

input,
textarea,
select{
  font-family: inherit;
  border: #c8c8c8 1.5px solid;
  border-radius: 0.45em;
  vertical-align: center;

}


button{
  font-family: inherit;
  border: none;
  box-shadow: inset 0 1px 2px #ffffff,
                0 1px 2px #00000010,
                0 2px 4px #00000015;
}
select,
::picker(select) {
  margin-top: 0.5em;
  appearance: base-select;
  background-color: #fff;
  box-shadow: inset 0 1px 2px #ffffff30,
  0 1px 2px #00000030,
  0 2px 4px #00000015;
  border: none;
  border-radius: 0.5em;
  text-align: center ;
}
option{
  width: inherit;
  padding: 0.25em;
  text-align: center;
}
.hidden{
  display: none !important;
}
      input:focus{
  outline: none;
}